
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}<span>{{ site.title2 }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/blog' | prepend: site.baseurl }}" data-toggle=tooltip title=Blog><i class="icons fa fa-wpforms"></i></a> Blog</li>
      <li><a href="{{ '/study' | prepend: site.baseurl }}" data-toggle=tooltip title=Study><i class="icons fa fa-graduation-cap"></i> Study</a></li>
      <li><a href="{{ '/travel' | prepend: site.baseurl }}" data-toggle=tooltip title=Travel><i class="icons fa fa-plane"></i> Travel</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">RSS</a></li>
    </ul>
  </div>
</nav>
